nav{
	height:50px;
	width:100%;
	background-color:#002B44;
}

ul{
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
	align-items:center;
	margin:0;
	height:50px;
	width:80%;
	color:#C7C7C7;
}

li{
	list-style: none;
	margin: 10px;
}

li.leonor{
	Color:white;
}

li.diogo{
	color:white;
}

.header-area{
	background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/d0233e58852705.5a0bdcee33b00.jpg");
	background-size: cover;
	height:500px;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	font-family:Bauhaus;
	Font-size:50px;
}

button{
	border: 2px solid white;
	back
}